*
{
	box-sizing: border-box;
}
#h1-1
{
  text-align: center;
}

.h3-11,.h3-12,.h3-13
{
 float: right;
 border-left:5px solid red;
 border-bottom: 5px solid red;
 margin: 0px;
 width: 100px;
 height: 25px;
 text-align: center;
 overflow: hidden;
}
.h3-11
{
	color:black;
	background: pink;
}
.h3-12
{
  color:white;
  background: brown;
}
.h3-13
{
  color:black;
  background: orange;
}
.row
{
	width: 100%;
}
.div-1
{
	background:rgba(1,1,1,0.7);
	margin: 5px;
	border: 3px solid red;
	overflow: hidden;
}
p
{
   clear: right;
   text-align: justify;
   margin: 10px;
   color: white;
}
@media(min-width:992px )
{
    #col-1,#col-2,#col-3 {float: left;width: 32.3%;}

}
@media(min-width: 768px) and (max-width: 991px)
{
	#col-1,#col-2,#col-3 {float: left;}
	#col-1,#col-2 {width: 48.5%;}
	#col-3 {width: 98.4%;}

}
@media(max-width: 767px) {

    #col-1,#col-2,#col-3 {float: left;width: 100%;}
}